* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.square {
    height: 10rem;
    width: 10rem;
    background-color: hotpink;
}